<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="firstOpenLauncher" value="1
         "/>
    <add key="fivemPath" value="key"/>
    <add key="fivemExe" value="key"/>
    <add key="screenshotPath" value="key"/>
    <add key="teamspeakPath" value="key"/>
    <add key="discordPath" value="key"/>
    <add key="LogPath" value="key"/>
    <add key="LogFile" value="key"/>
  </appSettings>
</configuration>